<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RecordToMP3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RecordToMP3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <applicationSettings>
        <RecordToMP3.Properties.Settings>
            <setting name="UI_MinutesOnProgressBar" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RECORDER_Filename" serializeAs="String">
                <value>RecordToMP3 {0:yyyy-MM-dd HHmmss}</value>
            </setting>
            <setting name="PROCESSOR_MP3Quality" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="UI_LEVELMETER_NO_SAMPLES" serializeAs="String">
                <value>3</value>
            </setting>
        </RecordToMP3.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RecordToMP3.Properties.Settings>
            <setting name="RECORDER_LastFile" serializeAs="String">
                <value />
            </setting>
        </RecordToMP3.Properties.Settings>
    </userSettings>
</configuration>